# ignore everything in the folder
data/college_scorecard_data/*

# BUT keep these 2 files
!data/college_scorecard_data/Most-Recent-Cohorts-Field-of-Study.csv
!data/college_scorecard_data/Most-Recent-Cohorts-Institution.csv